.copa-design{
    background-color:blueviolet;
    margin-bottom: 200px;
    padding-bottom: 200px;
    display:flex;
}
a:hover{
    color:seagreen;
    background-color: burlywood;
}
.write-design{
font-family: 'Poppins', sans-serif;
font-size: 50px;
padding-top: 150px;
padding-left: 120px;
color: cornsilk;
}
.image{
    width: 50%;
    padding-right: 30px;
    height: 80%;
    padding-top: 100px;
}
.image:hover{
    transform: rotate(10deg);
    transform-origin: right;
}
    .link-button{
        background-color: crimson;
        color: whitesmoke;
        text-decoration: none;
        font-size: 34px;
        padding-left: 20px;
        padding-right: 15px;
        
    }
   .players{
       width:20%;
       margin:40px;
       border:19px solid whitesmoke;
       margin-bottom: 20px;
       box-shadow: 3px 4px 4px 3px grey;
       display:inline-block;
       background-color: whitesmoke;
       

   }
   .player-details img{
       width:100%;
    
   }
   .title{
       padding-left: 20px;
       font-size: 22px;
    
   }
   .detail{
       padding-left: 20px;
       font-size: 16px;
       font-family: 'Poppins', sans-serif;
   }
   .links{
       display: inline-block;
       list-style: none;
       font-size: 20px;
    }
    .link-main{
        padding-left: 150px;

    }
   .logo img{
       margin-top: 90px;

   }
   .logo-design{
       text-align: center;
       display: flex;
       padding-left: 400px;
       width:60%;
   }
   .text-logo{
       margin-top:40px ;
       padding-left: 50px;
       font-family: 'Kaushan Script', cursive;
       font-size: 40px;
       color:royalblue;
   }
   .social{
       text-align: center;
       font-size: 27px;
       
       color:thistle;
       border-radius: 50%;
       
   }
   .copyright{
       text-align: center;
       font-size: 20px;
    }



   @media only screen and (max-width:688px){
       .copa-design{
           width:290%;
           }
           .players{
            grid-template-columns: repeat(1, 1fr);
            flex-direction: column;
            width: 250%;
           }
           .title{
               font-size: 40px;
           }
           .detail{
               font-size: 30px;
               padding-right: 60px;
           }
           .logo-design{
               padding-left: 200px;
           }
           
   }
  